:root{
    --not-main: #205E61;
    --main: #F9F54B;
    font-family: 'Inter', sans-serif;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    color: white;
    text-decoration: none;
}

body{
    background-image: url(imagenes/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100%;
}

header{
    width: 100%;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--not-main);
}

header h2{
    width: 20vw;
    padding: 20px;
    color: white;
    flex-grow: 1;
}



main{
    min-height: 83vh;
    width: 80vw;
    background-color: var(--main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


footer{
    min-height: 5vh;
    height: fit-content;
    width: 100vw;
    background-color: var(--not-main);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;

}

footer > p{
    padding: 10px;
    width: 100%;
}


.logo-github{
    width: 1rem;
    height: auto;
    fill: red;
}


header nav ul{
    display: flex;
    width: 80vw;
    justify-content: space-around;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: white;
}

#menu-btn{
    display: none;
    padding: 10px;
}

#summoner_image{
    border-radius: 50%;
    width: 100px;
    height: auto;
    visibility:hidden;
}

#summoner_input_holder{
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#summoner_display_main{
    width: 100%;
    min-height: 60vh;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#summoner_display{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

#summoner_display_history{
    flex: 1;
}

#summoner_display > ul{
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 0;
}

#summoner_display > ul > li{
    text-decoration: none;
    list-style: none;
    padding: 5px;
}

tr,td {
    padding: 10px;
    width: 20%;

}


@media screen and (max-width: 800px) {
    #summoner_display_main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #menu-btn{
        display: block;
        color: white;
    }
    #menu-ul{
        position: absolute;
        left: 0%;
        top: 0%;
        width: 100%;
        height: 100%;
        background-color: var(--not-main);
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        display: none;
    }

    main{
        width: 100%;
    }
}