
*{
    overflow-x: hidden;
}

main{
    min-height: 83vh;
    justify-content: space-between;
    height: fit-content;
}


.home-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    text-align: justify;
    
    padding-left: 5%;
    padding-right: 5%;

    min-height: 30vh;

    margin:50px;
    }

.home-section h1, .home-section h2{
    margin-bottom: 1rem;
}

.home-section p a{
    color: #205E61;
}


@media screen and (max-width:800px){
    .home-section{
        margin-left: 10px;
        margin-right: 10px;
    }
}

